{{page-title 'Customers'}}
<h2 class='p-2 text-xl'>List of Customers</h2>
<ul
  class='p-2 flex flex-row flex-wrap gap-1 min-h-[360px]'
  role='list of users'
>
  {{#each @model as |customer|}}
    <LinkTo
      @route='customer'
      @model={{customer.id}}
      class='p-4 rounded-br-lg border-2 border-slate-400 hover:border-orange-400 grow'
    >
      <li>
        {{customer.id}}:
        {{customer.fullName}}
      </li>
    </LinkTo>
  {{/each}}
</ul>
<div class='flex justify-center p-4 space-x-6 w-full items-center'>
  <LinkTo @route='customers' @query={{hash page=this.prev}}><svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-10 w-10 stroke-slate-400 hover:stroke-orange-400'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z'
      ><title>Backwards page</title></path>
    </svg></LinkTo>
  <div>
    |
    {{this.page}}
    /
    {{this.totalPages}}
    |
  </div>
  <LinkTo @route='customers' @query={{hash page=this.next}}><svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-10 w-10 stroke-slate-400 hover:stroke-orange-400'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z'
      > <title>Forward page</title></path>
    </svg></LinkTo>
</div>

{{outlet}}